<center>
    <!-- navbar -->
    <div>
        <a href="http://localhost:8000/home">Home</a> <pre>   </pre>
        <a href="http://localhost:8000/contact-us">Contact Us</a> <pre>   </pre>
        <a href="http://localhost:8000/about-us">About Us</a> <pre>   </pre>
    </div>
    <!-- some text -->
    <h1> 2022 resolution </h1>
    <p> 
        Let each day be unique and memorable. 
        <br> With Amazon.
    </p>
    <!-- img-->
    <img src="https://cdn.britannica.com/w:400,h:300,c:crop/84/73184-004-E5A450B5/Sunflower-field-Fargo-North-Dakota.jpg">
</center>